.hero-image {
  background-image: url(https://www.elsevier.com/__data/assets/image/0012/974739/coronavirus-image-iStock-628925532-full-width-wide.jpg);
  height: 200px;
  background-repeat: no-repeat;
}
.header-color {
  color: white;
  text-align: center;
}
.text-color {
  color: white;
  background-color: gray;
}
h1,
h3 {
  text-align: center;
}

.info-box {
  box-sizing: border-box;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}
.footer-text {
  text-align: left;
  padding-left: 29px;
  font-size: 13px;
}
.bottom-margin {
  margin-bottom: 500px;
}
.link-text {
  text-align: left;
  padding-left: 29px;
  font-size: 12px;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
.date-color {
  text-align: right;
  color: white;
  margin-top: 60px;
}
